* {
    margin: 0px;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(./assets/imagen/fondo_0.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

#contenedor-flecha {
    position: relative;
}

.ruleta {
    height: 70px;
    margin: auto;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0px 0px 8px 8px;
    z-index: 999;
}

.flecha {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 15px solid #696969;
    margin: auto;
    position: relative;
    top: 10px;
    z-index: 1000;
}

img {
    z-index: 100;
    transition: all 5s;
}

#premio {
    color: white;
    position: absolute;
    font-weight: bold;
    font-size: 25px;
    padding-top: 20px;
    padding: 20px;
}
